/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #c4c4c4;
	font-size: 14px;
	line-height: 20px;
}

#particles-js {
	width: 100%;
	height:100vh;
	position: fixed;
	z-index: -1;
	background:rgba(0, 0, 0, 0.8);
}

.contenedor_curriculum{
	display: flex;
	width: 800px;
	margin: 50px auto;
	background: #fff;
	padding: 10px;
}

.contenedor_curriculum .contenedor_izq{
	width: 35%;
	background: #26252d;
}

.contenedor_curriculum .contenedor_izq .contenedor_img{
	width: 100%;
	border-radius: 100%;
	border: 2px solid black;
}

.contenedor_curriculum .contenedor_izq .contenedor_img img{
	width: 100%;
	display: block;
	border-radius: 100%;
	border: 2px solid black;
}

.contenedor_curriculum .cont_titulo{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 4px;
}

.contenedor_curriculum .contenedor_izq .cont_info{
	color: #84838b;
}

.contenedor_curriculum .contenedor_izq .contenedor_inferior{
	padding: 20px 30px;
}

.contenedor_curriculum .cont_elemento{
	padding: 20px 0;
	border-bottom: 1px solid purple;
}

.contenedor_curriculum  .cont_elemento:last-child{
	border-bottom: 0;
}

.contenedor_curriculum .contenedor_izq .cont_nombrerol{
	display: none;
}

.contenedor_curriculum .cont_nombrerol .nombre{
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
	letter-spacing: 4px;
}

.contenedor_curriculum .contenedor_izq .cont_nombrerol .rol{
	color: #84838b;
}

.contenedor_curriculum .contenedor_izq .cont_contacto .cont_info:last-child{
	 margin-top: 10px;
}

.contenedor_curriculum .contenedor_izq .cont_contacto .cont_subtitulo{
	color: #fff;
	margin-bottom: 2px;
}

.contenedor_curriculum .contenedor_izq .hab_cont .lista_hab{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.contenedor_curriculum .contenedor_izq .hab_cont .lista_hab .barra_hab p{
	position: relative;
	width: 125px;
    height: 20px;
    background: #fff;
}

.contenedor_curriculum .contenedor_izq .hab_cont .lista_hab .barra_hab p span{	
	position: absolute;
	top: 0;
	left: 0;
	background: #C33764;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height: 100%;
}

.contenedor_curriculum .contenedor_der{
	width: 65%;
	padding: 20px 40px;
	color: #26252d;
}

.contenedor_curriculum .contenedor_der .cont_nombrerol .nombre{
	color: #26252d;
	font-size: 26px;
}

.contenedor_curriculum .contenedor_der .cont_nombrerol .rol{
	font-size: 14px;
	text-transform: uppercase;
}

.contenedor_curriculum .contenedor_der .cont_elemento .cont_titulo{
	color: #26252d;
}

.contenedor_curriculum .contenedor_der .cont_datos{
	display: flex;
}

.contenedor_curriculum .contenedor_der .cont_datos .year{
	padding-right: 35px;
	width: 115px;
	position: relative;
}

.contenedor_curriculum .contenedor_der .cont_datos .contenido{
	padding-left: 35px;
	margin-bottom: 20px;
	width: calc(100% - 115px);
}

.contenedor_curriculum .contenedor_der .cont_datos .year:before{
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid #26252d;
	border-radius: 50%;
}

.contenedor_curriculum .contenedor_der .cont_datos .year:after{
	content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #C33764;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor_curriculum .contenedor_der .cont_datos:last-child .year:after{
	display: none;
}

.contenedor_curriculum .contenedor_der .cont_inter .cont_info{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.contenedor_curriculum .contenedor_der .cont_inter .inter .int_icon{
	font-size: 38px;
	color: #C33764;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-bottom: 10px;
}

.imglogos{
	size: 14px;
}


@media screen and (max-width: 800px){
	.contenedor_curriculum .contenedor_der .cont_nombrerol{
		display: none;
	}
	.contenedor_curriculum .contenedor_izq .cont_nombrerol{
		display: block;
	}
	.contenedor_curriculum{
		width: 95%;
		margin: 10px auto;
		flex-direction: column;
	}
	.contenedor_curriculum .contenedor_izq,
	.contenedor_curriculum .contenedor_der{
		width: 100%;
	}
}

@media screen and (max-width: 424px){
	.contenedor_curriculum .resume_right{
		padding: 20px 30px;
	}
	.contenedor_curriculum .contenedor_der .cont_datos{
		flex-direction: column;
	}
	.contenedor_curriculum .contenedor_der .cont_datos .año{
		padding: 0;
		margin-bottom: 5px;
		width: 100%;
		color: #0175b2;
	}
	.contenedor_curriculum .contenedor_der .cont_datos .año:before,
	.contenedor_curriculum .contenedor_der .cont_datos .año:after{
		display: none;
	}
	.contenedor_curriculum .contenedor_der .cont_datos .contenido{
		width: 100%;
		padding: 0;
	}
	.contenedor_curriculum .contenedor_der .cont_inter .inter .int_icon{
		font-size: 24px;
	}
}